@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
    --font: "Commissioner", serif;
}
body{
    background: hsl(0, 0%, 95%);
    font-family: var(--font);
    color: var(--Dark-gray);
    line-height: 1.55;
}
.project-modal-open{
    overflow: hidden;
}
h1{
    color: var(--Black);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-top: -3%;
}
h2{
    color: var(--Black);
    font-weight: 700;
    font-size: 1.15rem;
    line-height: 1.1;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    
}
header{
    display: flex;
    position: absolute;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 2;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: auto;
    overflow: hidden; 
    cursor: pointer;
}
.logo svg {
    width: 100%;
    height: auto;
}
.mobile-menu-btn{
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}
.mobile-nav-wrapper.open .mobile-menu-btn .open-menu{
    display: none;
}
.mobile-nav-wrapper .mobile-menu-btn .close-menu{
    display: none;
}
.mobile-nav-wrapper.open .mobile-menu-btn .close-menu{
    display: flex;
}
.mobile-nav{
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    width: 100%;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}
.mobile-nav-wrapper.open .mobile-nav{
    height: auto;
}
.mobile-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mobile-nav ul li{
   display: flex;
   width: 100%;
}
.mobile-nav ul li:not(:last-of-type){
    border-bottom: 1px solid hsl(0, 0%, 73%);
}
.mobile-nav ul li a{
    text-decoration: none;
    color: var(--Black);
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    padding: 1.5rem;
}
.mobile-nav ul li a:hover{
    background-color: hsla(0, 0%, 62%, 0.1);
}
.hero-image img{
    width: 100%;
}
.main-details{
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    right: 0;
    left: 0;
    margin-inline: auto;
    gap: 1.5rem;
    padding-bottom: 4rem;
    
}
.box-one,
.box-two,
.box-three{
    background: white;
    display: flex;
    position: relative;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 8px;
    padding: 2rem 1.5rem;
    font-size: .9rem;
}
.box-one{
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 3rem;
    gap: 1em;
    width: 100%;
}
.sponsor-logo{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.sponsor-logo img{
    width: 100%;
}
.box-one-buttons{
    display: flex;
    width: 100%;
    gap: 1rem;
}
.back-project,
.bookmark{
    font-family: var(--font);
    display: inline-flex;
    align-items: center;
    gap: 2.5em;
    border-radius: 55px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.back-project:hover{
    background-color: var(--Dark-cyan);
}
.back-project{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: .8rem;
    background: var(--Moderate-cyan);
}
.bookmark.bookmarked svg circle{
    fill: var(--Dark-cyan);
}
.bookmark.bookmarked svg path{
    fill: white;
}
.bookmark.bookmarked .bookmark-text{
    color: var(--Dark-cyan);
}
.bookmark:hover svg > *,
.bookmark:hover .bookmark-text{
    opacity: .75;
}
.bookmark.bookmarked:hover svg > *,
.bookmark.bookmarked:hover .bookmark-text{
    opacity: 1;
}
.bookmark svg{
    width: 3rem;
    height: auto;
}
.bookmark-text{
    display: none;
    color: var(--Dark-gray);
    font-weight: 700;
    font-size: .8rem;
}
.box-two{
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.revenue-details{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}
.revenue-details hr {
    border-top: 1px solid hsl(180, 10%, 79%);
    width: 5em;
}
.revenue-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.revenue-top{
    font-size: 2rem;
    font-weight: 700;
    color: var(--Black);
    line-height: 1.45;
}
.progress-bar{
    width: 100%;
    height: 12px;
    background: hsl(180, 11%, 95%);
    border-radius: 10px;
}
.progress{
    height: 100%;
    width: 75%;
    background: var(--Moderate-cyan);
    border-radius: 10px;
}
.box-three{
    flex-direction: column;
    gap: 1rem;
}
.about-text{
    font-weight: 700;
    color: var(--Black);
}
.box-three-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.box-three-card{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border: 1px solid hsl(180, 4%, 86%);
    padding: 1.4rem;
    border-radius: 8px;
}
.stand-details{
    display: flex;
    flex-direction: column;
    gap: .15rem;
}
.people-left{
    display: flex;
    align-items: center;
    gap: .5em;
}
.name{
    font-weight: 700;
    color: var(--Black);
}
.pledge{
    color: var(--Moderate-cyan);
    font-weight: 700;
}
.number{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Black);
}
.btn{
    width: max-content;
    font-family: inherit;
    font-size: .75rem;
    font-weight: 700;
    padding: 1.25em 2.5em;
    background: hsl(176, 50%, 47%);
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background: var(--Dark-cyan);
}
.box-three-card.out,
.modal-card.out {
    opacity: .45;
}
.box-three-card.out .btn{
    background: hsl(0, 0%, 73%);
}
.contrast-modal{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: black;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .6;
}
.mobile-nav-wrapper.open .contrast-modal{
    display: block;
}
.project-modal-open .project-modal{
    display: flex;
}
.project-modal{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: hsl(0, 0%, 0%, .4);
    width: 100%;
    z-index: 20;
    display: none;
    flex-direction: column;
    padding: 3rem 0;
    overflow-y: auto;
}
.modal-details{
    background: white;
    width: 90%;
    max-width: 568px;
    margin-inline: auto;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: .9rem;
    position: relative;
    z-index: 10;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.modal-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.close-modal{
    display: flex;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
.modal-card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.75rem 0;
    border: 1px solid hsl(180, 4%, 86%);
    border-radius: 8px;
}
.modal-card.selected-card{
    border: 2px solid var(--Moderate-cyan);
}
.modal-card.selected-card .bottom{
    display: flex;
   
}
.top{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1.5rem;
}
.top .project-head{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.bottom{
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
}
.pledge-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}
.pledge-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem;
}
.pledge-amount-wrapper{
    display: flex;
    padding:  .7rem 1.7rem;
    border:1px solid hsl(0, 0%, 73%);
    border-radius: 100px;
    width: 100%;
    align-items: center;
    gap: .5rem;
}
hr{
    outline: none;
    border-top: 1px solid hsl(0, 0%, 88%);
}
.pledge-amount{
    width: 100%;
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 700;
    color: var(--Black);
}
.pledge-amount::placeholder{
    font-weight: 700;
    font-size: 1rem;
    color: var(--Black);
}
.pledge-amount-wrapper span {
    color: hsl(0, 0%, 73%);
    font-weight: 700;
    font-size: 1rem;
}
.pledge-checkbox{
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid hsl(0, 0%, 73%);
    border-radius: 50%;
    position: relative;
}
.pledge-checkbox::after{
    content: "";
    width: 55%;
    height: 55%;
    background: var(--Moderate-cyan);
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
.pledge-checkbox:checked::after{
    display: block;
}








@media screen and (min-width:768px){
    .box-one{
        padding: 4rem 3rem 3rem;
    }
    .main-details{
        max-width: 690px;
    }
    .box-one-buttons{
        justify-content: space-between;
        margin: 1rem 0 0 0;
    }
    .bookmark-text{
        display: block;
    }
    .bookmark{
        padding-right: 3.5em;
    }
    .back-project{
        width: max-content;
        padding-inline: 3.5em;
    }
}